@{
    ViewBag.Title = "Home Page";
}


@*<body background="~/Content/photo/backgrd.jpg" width="device-width" height="device-height">*@
    <div class="jumbotron">
        <center><h1>Whine.IT</h1></center>

    </div>

    <div align="center">
        <a class="btn btn-success" href="/Student/ProductList">Products</a>
        <a class="btn btn-success" href="/Customer/Index">Customers</a>
        <a class="btn btn-success" href="/Invoice/Detail">Invoices</a>
    </div>
@*</body>*@

